/* mobile */
@media screen and (max-width: 541px) {
  .container-description-mobile {
    margin-left: 0.688rem;
    margin-right: 0.938rem;
    margin-top: 1.938rem;
}
.title-description-mobile{
    margin-bottom: 0.938rem;
}
}

/* tablet */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .container-description-tablet {
    margin-left: 1.875rem;
    margin-top: 1.512rem;
  }
    .title-description-tablet{
        margin-bottom: 2.188rem;
    }
}
