/*mobile*/

@media screen and (max-width: 468px) {
    .container-share-modal-mobile{
  z-index: 2;
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 6px;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: white;
        margin-left: 8px;
        top: 223px;
        width: 35%;

    }
    .container-carousel-mobile button {
        margin-right: 5px;
    }
    .container-carousel-mobile{
        height: 236px;
        position: relative
    }
    .pd-share-favorite-container-mobile{
        margin-top: 10px;

        margin-left: 10px;
   position: absolute;
   z-index: 2;
   display: flex;
    }
    
    .svg-share {
        filter: drop-shadow(0px 4px 4px 0px rgba(0,0,0,0.25));
      
        margin-right: 18px;
    }

    .svg-favorite{
        filter: drop-shadow(0px 4px 4px 0px rgba(0,0,0,0.25));
      
    }

    .swiper-pagination{
        background-color: transparent;
        font-weight: 700;
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
        bottom: 0;
        text-align: end;
    color: white;
    padding-right: 10px ;
    
    margin-bottom: 12px;

    }
    .swiper{
        height: 100%;
    } 
}

/*tablet*/
@media screen and (max-width: 992px) and (min-width: 768px) {
.container-carousel-tablet{
    height: 400.39px;
}

.swiper-pagination {
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    bottom: 0;
    text-align: end;
color: white;
padding-right: 2.125rem;
margin-bottom: 1.25rem;

}
.swiper{
    height: 100%;
} 

}
