input {
  all: unset;
}
textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;  
}

textarea:focus{
  outline: none;
}

.label-form--user-createProduct{
  font-size: 14px;
  font-weight: 500;
}
/* .container-createProduct{
    background-color: white;
  padding-left: 1.563rem;
  padding-top: 2.125rem;
  padding-right: 1.75rem;
  border-radius: 8px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
} */

.form-createProduct {
  display: flex;
}

.container-input-text-createProduct {
  width: 50%;
}

.container-input-select-createProduct {
  width: 50%;
}

.input-form--createProduct {
  height: 40px;
  background-color: transparent;
  padding: 0px 12px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  outline: none;
  margin-bottom: 3rem;
  color: var(--secondary-color);
  width: 90%;
}

.input-form--createProduct-error {
  height: 40px;
  background-color: #ffe1e1;
  padding: 0px 12px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  outline: none;
  margin-bottom: 3rem;
  color: var(--secondary-color);
  width: 90%;
  border: 1px solid #ff0000;
}

/* .container-text-area-description{
    width: 100%;
} */
.text-area-description{
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 7.5rem;
    padding: 12px 18px;
}

.input-longitud{
  width: 97%;
}

/*tablet*/
@media screen and (max-width: 992px) and (min-width: 768px) {
  .input-longitud{
    width: 92%;
  }
}


/*mobile*/

@media screen and (max-width: 468px) {
  .form-createProduct{
      flex-direction: column;
  }

  .container-input-text-createProduct{
    width: 100%;
  }
.input-form--createProduct{
  margin-bottom: 1.438rem;
}

.container-input-select-createProduct{
width: 100%;
}
.input-longitud{
  width: 89%;
}
}