.btn-add-images{

    height: 40px;
    cursor: pointer;
}

.img-input-form{
    height: 40px;
    background-color: white;
    padding: 0px 12px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    outline: none;
    /* margin-bottom: 1rem; */
    color: var(--secondary-color);
    width: 93%;
    margin-right: 0.625rem;
}

.img-input-form:disabled{
    background-color: #F3FAF7;
}

.container-img-form{
    display: flex;
    margin-bottom: 10px;
}

/*tablet*/
@media screen and (max-width: 992px) and (min-width: 768px) {

}


/*mobile*/

@media screen and (max-width: 468px) {
    .container-politicsForm{
        display: flex;
        flex-direction: column;
    }

    .btn-add-images img{
        max-width: none;
    }
}