input {
  all: unset;
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

textarea:focus {
  outline: none;
}

.container-politicsForm {
  margin-top: 0.688rem;

  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  padding: 1.25rem 1.875rem 1.875rem 1.688rem;
}

.h3-politicsForm {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  margin-bottom: 1.25rem;
}

.politicsForm-textarea {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  margin-top: 0.625rem;
  padding: 0.813rem 0.625rem 1rem 0.625rem;
}

/*tablet*/
@media screen and (max-width: 992px) and (min-width: 768px) {
  .container-politicsForm {
    display: flex;
    flex-direction: column;
  }
}

/*mobile*/

@media screen and (max-width: 468px) {
}
