.section-createProduct{
    background-color: var(--fourth-color);
    padding-top: 2.75rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
 padding-bottom: 3.125rem;
}

/*tablet */
@media screen and (max-width: 992px) and (min-width: 768px) {

}

/*mobile*/
@media screen and (max-width: 468px) {
    .section-createProduct{
        background-color: var(--fourth-color);
        padding-top: 1rem;
        padding-left: 0px;
        padding-right:0px;
     padding-bottom: 3.125rem;
    }
}