.grid-container-reservation {
    grid-template-rows: repeat(2, minmax(auto, auto));
    padding-bottom: 2.875rem;
}


/*tablet */
@media screen and (max-width: 992px) and (min-width: 768px) {
.grid-container-reservation{
display: flex;
flex-direction: column;
}
.container-form-tablet{
    width: auto;
}
.container-calendar-r{
    margin: 0rem 1.875rem 0rem 1.875rem;
    width: auto;
    padding-top: 0.625rem;

}

.container-reservation-summary{
    display: flex;
    padding-top: auto;
}
}

/*mobile*/
@media screen and (max-width: 468px) {
    .grid-container-reservation{
        display: flex;
        flex-direction: column;
      }
    
}