@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #f0572d;
  --secondary-color: #31363F;
  --third-color: #191B1D;
  --fourth-color: #DFE4EA;
}
h1{
  font-size: 24px;
 
  }
  
  h2{
  font-size: 20px;
    font-weight: 700;

  }

body {
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

main{
  padding-top: 5rem;
  padding-bottom: 3.625rem;
}



/*mobile*/
@media screen and (max-width: 541px) {
  main {
    padding-top: 7.188rem;
    padding-bottom: 3.625rem;
  }
  
}

/*tablet*/
@media screen and (max-width: 992px) {
  main {
    padding-top: 6.2rem;
 
  }
}