.search-container {
  background-color: #191b1d;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logoLocalizacion {
  background-color: #fff;
  position: absolute;
  top: 64%;
  margin-left: 9px;
}

.functionalities-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.625rem;
  flex-direction: row;
}

.select-component {
  margin-right: 0.5rem;
}

.select-component > input {
  margin-right: 0.5rem;
  all: unset;
}

.optionLabel {
  display: flex;
  align-items: center;
}

/* .city-input {
  display: flex;
  flex-direction: column;
}  */
.css-qc6sy-singleValue {
  font-size: 14px;
  font-weight: 500;
  margin-left: 0px !important;
}

.calendar-container {
  margin-right: 0.625rem;
}
.title-container-search {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 1.25rem;
  margin-bottom: 1.438rem;
}

.title-h1-search {
  font-size: 2.25rem;
  font-weight: 700;
}

.css-319lph-ValueContainer {
  padding: 2px 30px;
  /* padding-left: 10px;
    padding-right: 10px; */
}
.css-1pndypt-Input {
  padding-left: 20px;
}

.css-1s2u09g-control,
.css-1pahdxg-control {
  /* Search ubication background icon */
  /* background-image: url("./../img/LocationIcon.svg"); */
  /* background-repeat: no-repeat, repeat;
  background-position: left 0.7rem top 50%, 0 0; */
  width: 422px;
  height: 40px;
  /* border-color: var(--main-color); */
}

.css-1pahdxg-control {
  border-color: var(--main-color) !important;
  box-shadow: 0 0 0 1px var(--main-color) !important;
}
.css-1pahdxg-control:hover {
  border-color: var(--main-color) !important;
}

.calenderIcon {
  width: 1.438rem;
  height: 1.438rem;
  position: absolute;
  height: 50%;
  /* z-index: 1; */
  margin-top: -17px;
  margin-left: 10px;
  text-align: center;
}
#react-select-3-input {
  caret-color: rgb(255, 255, 255, 0);
}
#react-select-3-placeholder {
  /* Search ubication text */
  /* margin-left: 25px; */
  /* border-color: #191b1d; */
  font-size: 14px !important;
}
.css-14el2xx-placeholder {
  margin-left: 25px !important;
  font-size: 14px !important;
}
.buttonSearch {
  all: unset;

  width: 206px;
  height: 2.5rem;
  border-radius: 5px;
  /* border: 1px solid var(--main-color); */
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
  background-color: var(--main-color);
  color: #ffffff;
}

.buttonSearch:hover {
  background-color: #fff;

  /* background-color: rgb(240, 87, 45);
  opacity: 0.8; */
  color: var(--main-color);
  box-shadow: 0 0 0 3px var(--main-color), inset 0 0 0 5px #fff;
}

.location {
  position: absolute;
  width: 10px;
  height: 10px;
}

.container-btn-x {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;

  border-color: var(--main-color);
  transition: all 0.5s ease;
}

.container-btn-x:hover {
  background-color: var(--main-color);
}

.faX-btn-search {
  margin-right: 0.625rem;
  font-weight: bold;
  color: #ffffff;
}

/*mobile*/

@media screen and (max-width: 468px) {


  .container-btn-x {
    width: 95%;
    margin-top: 15px;
    padding: 7px;

  }
  

  .functionalities-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .logoLocalizacion {
    top: 141px;
  }
  .logoLocalizacionNone {
    visibility: hidden;
    top: 44%;
    display: none;
  }
  .title-h1-search {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .select-component {
    width: 95% !important;
    margin-right: 0px;
    margin-bottom: 9px;
  }

  .UbicacionComponent {
    width: 100%;
    position: relative;
  }

  .css-1s2u09g-control {
    width: 100%;
  }
  .css-1pahdxg-control {
    width: 100%;
  }

  #react-select-3-listbox {
    z-index: 3;
  }
  .css-b62m3t-container {
    width: 100%;
  }
  #react-select-3-live-region {
    width: 100%;
  }

  .calendar-container {
    width: 95%;

    /* margin-left: 21px; */
    margin-bottom: 9px;
    margin-right: 0px !important;
  }
  .DateRangePicker {
    width: 100%;
  }
  .DateRangePickerInput {
    width: 97% !important;
  }

  .buttonSearch {
    width: 95% !important;
    margin-right: 0px;
  }

  /* .DateRangePicker_picker {
  } */

  .DateInput {
    width: 22%;
  }

  .DateInput_input {
    padding: 0px !important;
  }
  .DateRangePickerInput {
    width: 100% !important;
    justify-content: flex-start !important;
    align-items: center;
    margin-right: 0px !important;
  }
}

/*tablet*/
@media screen and (max-width: 992px) and (min-width: 768px) {
  .select-component {
    /* width: 254px; */
    width: 278px;
  }
  .logoLocalizacion {
    top: 95px;
  }

  /* #react-select-3-placeholder {
    margin-left: 25px;
  } */

  .title-h1-search {
    font-size: 1.875rem;
  }

  .css-1s2u09g-control,
  .css-1pahdxg-control {
    width: 100%;
  }
  .optionLabel {
    font-size: 12px;
  }

  .css-1s2u09g-control {
    width: 100%;
  }

  .DateRangePicker_picker__directionLeft {
    left: -167px !important;
  }

  .buttonSearch {
    width: 166px;
  }

  .DateInput_input {
    padding: 0px;
  }

  .calendar-icon {
    margin-left: 5px;
  }
}

@media screen and (max-width: 360px) {
  .logoLocalizacion {
    top: 184px;
}
}